body {
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    overflow-y: hidden;
    user-select: none;
}

#container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    background: #f0f0f0;
    border-bottom-left-radius: 14px;
    z-index: 10;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 45px;
    left: 0px;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.menu-button-container {
    position: fixed;
    top: 3px;
    left: 3px;
    z-index: 10;
}

.buttons-container.show {
    transform: translateX(3px);
}

.buttons-container button,
.menu-button-container button {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

.buttons-container button i,
.menu-button-container button i {
    font-size: 18px;
}

.buttons-container button:hover,
.menu-button-container button:hover {
    background-color: #e0e0e0;
}


#container2 {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: smaller;
    opacity: 50%;
    z-index: 10;
}

#clock-container {
    display: block;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}


#options,
#draggable-area {
    margin-left: 10px;
}

#draggable-area {
    -webkit-app-region: drag;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

#main-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

#text-overlay {
    position: relative;
    z-index: 1;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 3em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#ILoveYou {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#timer {
    font-size: 1.5em;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#date-text {
    font-size: 1.2em;
    margin-top: 10px;
}

.heart {
    position: fixed;
    font-size: 1.5rem;
    top: -1vh;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall {
    from {
        transform: translateY(0vh) translateX(-10vw);
    }

    to {
        transform: translateY(105vh) translateX(10vw);
    }
}

#settings,
#info,
#notifications,
#memories,
#newMemoryBox,
#newMilestone,
#cards,
#backgrounds,
#news,
#activity,
#discord,
#milestones {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
    z-index: 11;
    width: 90%;
    height: 90%;
    background-color: lightgray;
    opacity: 0;
    border-radius: 2%;
    padding: 10px;
    transition: opacity 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#memories,
#news,
#milestones {
    max-height: 90%;
    overflow-y: auto;
}

.memory,
.news-single {
    padding: 5px;
    margin: 6px;
    margin-bottom: 10px;
    background-color: #f0ffbc;
    border: 1px solid #000d16;
    border-left: 5px solid #000d16;
    border-radius: 12px;
    transition: 0.5s;
}

.news-single {
    background-color: #bbbbbb;
}

.news-single:hover {
    background-color: #777777;
}

.news-single a {
    float: right;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
}

.news-single a:hover {
    text-decoration: underline;
}

.memory:hover {
    background-color: #cfcd58;
    user-select: text;
}

.memory h3,
.news-single h3 {
    margin: 0%;
}

.memory-date {
    opacity: 50%;
}

.memory:hover .memory-date {
    opacity: 100%;
}

.delete-button,
.copy-button {
    float: right;
    padding: 10px;
    border-radius: 12px;
    margin: 2px;
    user-select: none;
    border: 1px solid #f0ffbc;
    transition: 0.5s;
}

.delete-button:hover {
    border: 1px solid red;
}

.delete-button:active {
    background-color: red;
}

.copy-button:hover {
    border: 1px solid black;
}

.copy-button:active {
    background-color: black;
}

.new-memory-button {
    position: absolute;
    top: 1%;
    right: 10%;
    padding: 15px;
    background-color: #f0ffbc;
    border-radius: 10%;
    user-select: none;
    transition: 0.3s;
}

.new-memory-button:hover {
    background-color: #cfcd58;
}

.share-button {
    position: absolute;
    font-size: larger;
    top: 1%;
    right: 10%;
    padding: 15px;
    border-radius: 10%;
    user-select: none;
    transition: 0.3s;
}

.share-button:hover {
    scale: 1.1;
}

.share-button:active {
    scale: 0.7;
}

.help-button {
    position: absolute;
    top: 1%;
    right: 10%;
    padding: 15px;
    color: white;
    background-color: #000d16;
    border-radius: 10%;
    user-select: none;
    transition: 0.3s;
}

.help-button:hover {
    background-color: #4e4e4e;
}

#settings h2,
#info h2,
#notifications h2,
#memories h2,
#newMemoryBox h2,
#newMilestone h2 #cards h2,
#cards h3,
#backgrounds h2,
#news h2,
#activity h2,
#discord h2,
#milestones h2 {
    margin: 0%;
}

.x-button {
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 15px;
    background-color: red;
    border-radius: 15%;
    transition: 0.3s;
}

.x-button:hover {
    background-color: rgb(165, 0, 0);
    border-radius: 5%;
}

#info ul {
    list-style: none;
    padding: 0px;
}

#info ul li:before {
    content: '💚';
    margin: 0 1em;
}

#popup-container {
    display: none;
    position: fixed;
    z-index: 99;
    background-color: #000000;
    width: 100%;
    height: 100%;
}

.popup-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 100%;
    width: 80%;
    color: white;
    background-color: #00000069;
    border: 1px solid #ff0000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#accept-button,
#leave-button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: 0.2s;
}

#accept-button {
    background-color: #4caf50;
    color: #fff;
}

#leave-button {
    background-color: #f44336;
    color: #fff;
}

input[type=button],
.pola button {
    padding: 10px;
    margin: 5px;
    margin-bottom: 0%;
    width: 95%;
    background-color: #000d16;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    transition: 0.3s;
    text-align: center;
}

#accept-button:hover,
#leave-button:hover,
.slider:hover,
input:checked+.slider:hover {
    background-color: #4e4e4e;
    color: #fff;
}

.cijelo {
    display: flex;
}

.pola {
    flex: 1;
    width: 50%;
    max-width: 100%;
    box-sizing: border-box;
}

.pola span {
    text-align: center;
    margin-bottom: 5px;
}

.pola label span {
    margin: 0px;
}

.hr30 {
    width: 50%;
    border: 1px solid #000d16;
}

input[type=button]:hover,
.pola button:hover {
    background-color: #4e4e4e;
    color: #fff;
}

.pola .cijelo .pola {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0%;
}

#current-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 0%;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #838383;
    border-radius: 17px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #000d16;
}

input:focus+.slider {
    box-shadow: 0 0 1px #000d16;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


.font {
    font-family: 'Pacifico', cursive;
}

.loading {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: progress;
    background-color: #ccc;
}

.app-name {
    position: fixed;
    top: 10%;
    font-size: 5vh;
}

.loading-font {
    font-family: 'Courier New', Courier, monospace;
}

.loader-text {
    position: fixed;
    top: 85%;
}

.loader-animation {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 5vh;
    clip-path: inset(0 3ch 0 0);
    animation: l4 3.5s steps(4) infinite;
}

.loader-animation:before {
    content: "Loading..."
}

@keyframes l4 {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}

@keyframes rotation {
    to {
        transform: rotate(1turn);
    }
}

.loader {
    width: 25%;
    aspect-ratio: 1;
    background: linear-gradient(#dc1818 0 0) bottom/100% 0% no-repeat #ccc;
    -webkit-mask:
        radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left,
        radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right,
        linear-gradient(to bottom left, #000 42%, #0000 43%) bottom left,
        linear-gradient(to bottom right, #000 42%, #0000 43%) bottom right;
    mask:
        radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left,
        radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right,
        linear-gradient(to bottom left, #000 42%, #0000 43%) bottom left,
        linear-gradient(to bottom right, #000 42%, #0000 43%) bottom right;
    -webkit-mask-size: 50% 50%;
    mask-size: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    animation: l19 3.5s infinite linear;
}

@keyframes l19 {

    90%,
    100% {
        background-size: 100% 100%
    }
}


.pulsate-fwd {
    -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
    animation: pulsate-fwd 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-6 19:55:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

#reminderPopup,
#BreminderPopup {
    position: fixed;
    z-index: 99;
    background-color: #00000069;
    width: 100%;
    height: 100%;
}

#reminderPopup img,
#BreminderPopup img {
    width: 100%;
    height: auto;
}

#noMemoriesSpan,
#noMilestonesSpan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#newMemoryBox input[type=text],
#newMemoryBox textarea,
#newMilestone input[type=text],
#newMilestone textarea {
    margin: 6px;
    padding: 6px;
    border-radius: 12px;
    resize: none;
    border: 2px solid black;
}

#newMemoryBox label,
#newMilestone label {
    border-bottom: 1px solid black;
}

.save-memory {
    padding: 8px;
    background-color: #bbb800;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}

.save-memory:hover {
    background-color: #444300;
    scale: 0.9;
    width: 70%;

}

.save-memory:active {
    width: 100%;
}

.background-selector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 10px;
}

.background-selector img {
    width: 80%;
    height: auto;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    filter: grayscale(100%);
}

.background-selector img:hover {
    scale: 1.1;
    filter: grayscale(0%);
}

.background-selector .background-active {
    filter: grayscale(0%);
}

.background-selector .background-active:hover {
    scale: 1;
    filter: grayscale(0%);
}

.widget-wrap {
    margin: auto;
    width: 100%;
    align-items: center;
}

#milestonesContainer {
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 50px;
}

#milestonesContainer,
#milestonesContainer * {
    box-sizing: border-box;
}

#milestonesContainer::before {
    content: "";
    width: 5px;
    background-color: #41de1a;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
}

div.milestone {
    padding: 20px 30px;
    background-color: #ffebeb;
    position: relative;
    border-radius: 6px;
    margin-bottom: 10px;
}

p.milestone-date {
    font-size: 1.1em;
    font-weight: 700;
    color: #00ff15;
}

p.milestone-title {
    margin: 10px 0 0 0;
    font-size: 1em;
    color: #222;
}

div.milestone::before {
    content: "";
    border: 10px solid transparent;
    border-right-color: #ffebeb;
    border-left: 0;
    position: absolute;
    top: 20%;
    left: -10px;
}

div.milestone::after {
    content: "";
    background: #fff;
    border: 4px solid #41de1a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: -40px;
}

.button-container-milestone {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}


.widget-wrap {
    max-width: 500px;
    padding: 30px;
    border-radius: 20px;
}